@model GrandHotel_WebApplication.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h2>Details de la facture N° @ViewBag.NumeroFacture</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LigneFacture.First().NumLigne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigneFacture.First().Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigneFacture.First().MontantHt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigneFacture.First().TauxTva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigneFacture.First().TauxReduction)
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LigneFacture)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumLigne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontantHt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TauxTva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TauxReduction)
                </td>
                @{
                    int quantite = item.Quantite;
                    decimal montantHT = item.MontantHt;
                    decimal tauxTva = item.TauxTva;
                    decimal tauxReduction = item.TauxReduction;
                    decimal prix = montantHT * quantite * (1 + tauxTva) * (1 - tauxReduction);
                    string prixCurrency = string.Format("{0:C}", prix);

                }
                <td>
                    @prixCurrency
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-route-AnneeSelected="@ViewBag.AnneeChoisi" asp-action="Afficher">Back to List</a>
</div>