@*@model FactureVM

@{
    ViewData["Title"] = "Index";
}

<h2>Les factures pour client N° @ViewBag.Id @ViewBag.Nom</h2>


<form asp-controller="Factures" asp-action="Index" method="get">
    <p>
        <span>Année</span>
        <select asp-for="AnneeSelected" asp-items="@(new SelectList(ViewBag.Years))"></select>
        <input type="submit" value="Filtrer" />
    </p>
</form>

<table class="table">
    s
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Factures[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factures[0].DateFacture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factures[0].DatePaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factures[0].CodeModePaiement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Factures)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFacture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaiement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeModePaiement)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
