@model ReservationVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.NumChambre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.NumChambre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.NumChambreNavigation.Etage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.NumChambreNavigation.Etage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.NumChambreNavigation.Bain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.NumChambreNavigation.Bain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.NumChambreNavigation.Douche)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.NumChambreNavigation.Douche)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.NumChambreNavigation.Wc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.NumChambreNavigation.Wc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChambreSelectionne.CodeTarifNavigation.Prix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChambreSelectionne.CodeTarifNavigation.Prix)
        </dd>
    </dl>
    <dl>
        <dd>
            <a asp-action="Details" asp-route-id="">Reserver</a>
        </dd>
    </dl>



    <a asp-action="VerifDisponibilite">Retour</a>
</div>
