@model GrandHotel_WebApplication.Models.Client

@{
    ViewData["Title"] = "Delete";
}

@*<h2>Delete</h2>*@

<h3 style="text-align:center">Voulez-vous supprimer le client @ViewBag.id?</h3>
<div>
    @*<h4>Client</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Civilite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarteFidelite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarteFidelite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Societe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Societe)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index"  asp-route-Lettre="@ViewBag.SupprimerStatus">Retour</a>
    </form>
</div>
