@* Auteur: Lydia  *@
@* Réalisation: du 14 au 19 février 2018 *@

@model GrandHotel_WebApplication.Models.Client

@{
    ViewData["Title"] = "Details";
}

<style>
    dt {
        margin-left: 300px;
        margin-right: 20px;
    }
</style>


<h2 style="text-align:center">Coordonnées du client N° @ViewBag.id  @ViewBag.nom @ViewBag.prenom</h2>
<div class="container-fluid ">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Civilite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbReservation)
        </dt>
        <dd>
            @ViewBag.nbReserv
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbReservationEnCours)
        </dt>
        <dd>
            @ViewBag.nbReservEnCours
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Editer</a> |*@

    @* retour à la page précédente *@
    <a asp-action="Index" asp-route-Lettre="@ViewBag.DetailStatus">Retour</a>
</div>
