@* Auteur: Lydia  *@
@* Réalisation: du 14 au 19 février 2018 *@

@model GrandHotel_WebApplication.Models.ChambreVM

@{
    ViewData["Title"] = "Details";
}

<style>
    dt {
        margin-left: 300px;
        margin-right: 20px;
    }
</style>


<h2 style="text-align:center">Détails de la chambre N° @ViewBag.id</h2>
<div class="container-fluid ">
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.Etage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TarifChambre.NumChambreNavigation.Etage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.Bain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TarifChambre.NumChambreNavigation.Bain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.Douche)
        </dt>
        @{
            bool? status = Model.TarifChambre.NumChambreNavigation.Douche;
            if (status == true)
            {
                <dd>Oui</dd> }
            else
            {
                <dd>Non</dd> }
        }
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.Wc)
        </dt>
        @{ bool? stat = Model.TarifChambre.NumChambreNavigation.Wc;
            if (stat == true)
            {
                <dd>Oui</dd>
            }
            else
            {
                <dd>Non</dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.NbLits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TarifChambre.NumChambreNavigation.NbLits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.NumTel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TarifChambre.NumChambreNavigation.NumTel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TarifChambre.NumChambreNavigation.Tarifc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TarifChambre.CodeTarifNavigation.Prix)
        </dd>

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.TarifChambre.NumChambreNavigation.Numero">Editer</a> |*@
    @* retour à la page précédente *@

    <a asp-action="Index" asp-route-statusChambre="@ViewBag.DetailStatus">Retour</a>
</div>
